body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100vh;
    background: url('../img/view.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(20, 77, 105, 0.5);
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

.formWrapper {
    background: #ffffff;
    color: #222222;
    padding: 20px 10px;
    border-radius: 7px;
}

.form-group {
    font-size: 13px;
}

.form-group input {
    background-color: #e6e6e6;
    font-size: 13px;
}

.form-group select {
    width: 100%;
    background-color: #e6e6e6;
}

.formWrapper button {
    background-color: blue;
    color: #ffffff;
    width: 62%;
    height: 45px;
    border-radius: 7px;
    border-width: 0px;
}